@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: beige;
}

/* Grid */
.grid-container{
    position: absolute;
    left: 30%;
    top: 20%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 16% 16% 16% 16% 16%;
    width: 40%;
    height: 60%;
    background-color: aquamarine;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #626263;
}

.grid-container > input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #626263;
    font-size: large;
    width: 100%;
    font-family: Montserrat;
}

/* Number visor */
.shownumber1{
    background-color: rgb(39, 39, 39);
    grid-column-start: 1;
    grid-column-end: 5;
    color: beige;
}

/* Number buttons */

.number{
    background-color: white;
}
.number:hover{
    background-color: #c2c2c2;
    transition: .7s ease;
    cursor: pointer;
}

/* Equals button */
.equals{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: rgb(202, 71, 24);
}

.equals:hover{
    background-color: rgb(173, 62, 22);
    transition: .7s ease;
    cursor: pointer;
}

/* Operation buttons */

.operation{
    background-color: #8b8b8b;
}
.operation:hover{
    background-color: rgb(73, 73, 73);
    color: rgb(219, 219, 198);
    transition: .5s ease;
    cursor: pointer;
}